<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
    <body>
        <div style="width:270px; height:240px; padding:50px; border: solid 1px; background-color: whitesmoke">
        <div th:if="${param.error}">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
         <div><h1>Catalog API Login</h1></div>
        <form th:action="@{/login}" method="post">
            <div style="padding-bottom:20px;"><label> User : <input type="text" name="username"/> </label></div>
            <div style="padding-bottom:20px;"><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="LogIn"/></div>
        </form>
        </div>
    </body>
</html>